@font-face {
  font-family: 'Jost-Regular';
  src: local('Jost-Regular'), url('./fonts/Jost-Regular.ttf');
}

.App {
  text-align: center;
  font-family: 'Jost-Regular', sans-serif;
}

body {
  width: 100%;
  background-color: #151b23;
}

.mainBlock {
  max-width: 850px;
  margin: 0 auto;
}

@media (max-width: 360px) {
  .mainBlock {
    max-width: 340px;
    font-size: 0.875em;
  }
}
