:root {
  --standart-size: 1.5em;
}

.formInput {
  margin-top: 0.875em;
  margin-bottom: 0.875em;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-flow: row nowrap;

  > input {
    width: 60%;
    text-align: left;
    padding: 0.875em;
    border-radius: 15px;
    font-size: var(--standart-size);
  }
}
